@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}



.glow {
  position: relative;
  color: white;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 
               0 0 10px rgba(255, 255, 255, 0.5), 
               0 0 20px rgba(255, 255, 255, 0.5), 
                
               0 0 150px rgba(255, 255, 255, 0.5);
  transition: text-shadow 0.3s ease-in-out;
}

.glow:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 
               0 0 20px rgba(255, 255, 255, 0.7), 
               0 0 30px rgba(255, 255, 255, 0.7), 
                
               0 0 150px rgba(255, 255, 255, 0.7);
}


/* Hide scrollbar for Webkit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for all other browsers */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
  @apply focus:outline-none focus:ring focus:ring-blue-100 
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* 
:root{
  --primary-blue: #00d8ff;
  --primary-purple: #6a00ff;
}


@layer base {
  * {
    @apply font-[Kanit]
  }
  h1 {
    @apply text-4xl font-bold
  }

  li {
    @apply p-4
  }

  button {
    @apply bg-gradient-to-r from-[var(--primary-purple)] to-[var(--primary-blue)] py-3 px-7 rounded-3xl
  }


} */


/* index.css or styles.css */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  background-color: #1a202c !important;
  border: none !important;
  border-radius: 0.5rem !important;
}


.order-list {
  margin-top: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.order-actions button {
  margin-left: 10px;
}


